.contenedor
{
    background-color: chartreuse;
    padding: 10px;
    font-size: 23px;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "section1 section2 ads"
                         "footer footer footer";

}
.contenedor .header
{
    background-color: cyan;
    grid-column: header;
}
.contenedor .nav
{
    background-color: crimson;
    grid-column: nav;

}
.contenedor .section1
{
    background-color: orchid;
    grid-column: section1;
}
.contenedor .section2
{
    background-color: orchid;
    grid-column: section2;
}
.contenedor .ads
{
    background-color: rosybrown;
    grid-column: ads;
    margin: 3px;
    padding: 10px;
}
.publi1
{
    background-color: indigo;
    grid-row: ads;
    margin: 3px;
    padding: 10px;

}
.publi2
{
    background-color: indigo;
    grid-row: ads;
    margin: 3px;
    padding: 10px;

}
.contenedor .footer
{
    background-color: hotpink;
    grid-column: footer;
}
